@import "tailwindcss";

@theme {
  --color-primary: #0D1B2A;
  --color-secondary: #1B263B;
  --color-accent: #3A86FF;
  --color-text-primary: #E0E1DD;
  --color-text-secondary: #A9B4C2;
}

@layer base {
  body {
    background-color: var(--color-primary);
    color: var(--color-text-primary);
  }
}